* {
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    margin: 0;
    padding: 15px 50px;
    background-color: #FAF8FFCC;
    display: flex;
    padding: 20px 0px;

}

.ul h2 {
    color: #4F46E5;
    margin: 0;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #F1F5F980;
    height: 100vh;
    width: 256px;
    text-align: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.logo-con {
    color: #4F46E5;
    padding: 15px 0px;
    cursor: pointer;
}

.logo-con p {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    width: 100%;
}

li a {
    display: flex;
    align-items: center;
    /* width: 100%; */
    padding: 14px 10px;
    text-decoration: none;
    color: #64748B;
    font-weight: 600;
    font-size: 16px;
}

li:hover a {
    background-color: #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
}

i {
    margin-right: 10px;
}

.highlited a {
    color: #4F46E5;
    background-color: #FFFFFF;
    border-radius: 12px;
}



.head {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 10px 20px;
}

.title h2 {
    margin: 0;
}

.title p span {
    color: #4F46E5;
    font-weight: 600;
}

.title p {
    color: #464555;
}

.title h2 {
    color: #1A1B21;
}

.head-items img {
    width: 20px;
}

.head-img-box h4 {
    color: #1A1B21;
    font-weight: 500;
    margin: 0;
}

.head-img-box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #F4F3FB;
}

.head-items {
    display: flex;
    align-items: center;
    gap: 25px;
}

.sec2 {
    display: flex;
}

.sec2-main {
    width: 60%;
}

.head-items .human {
    width: 45px;
    border-radius: 50px;
}

.up {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.house {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.navbar {
    width: 100%;
}

.down {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
}

.others {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: stretch;
}

.setting,
.exit {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 14px 10px;
    cursor: pointer;
}

.setting:hover,
.exit:hover {
    background-color: #FFFFFF;
    border-radius: 12px;
}

hr {
    border: 1px solid #64748b4b;
    width: 100%;
    border-radius: 10px;
}

.setting a,
.exit a {
    color: #64748B;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
}

.gear,
.exit-icon {
    color: #64748B;
}

.sec2-card {
    display: flex;
    justify-content: space-between;
    background-color: #F4F3FB;
    padding: 10px 30px;
    border-radius: 20px;
}

.foiz-con {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foiz-con-text h4 {
    margin: 0;
}

.foiz-con-text p {
    margin-top: 0px;
    font-size: 12px;
    color: #464555;
}

.sec2-translater {
    background-color: #fff;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 24px 0px #4F46E50A;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sec2-translater h1 {
    color: #4F46E5;
    font-size: 45px;

}

.sec2-translater h2 {
    color: #464555;
}

.sec2-translater-card {
    background-color: #F4F3FB80;
    width: 40%;
    border-radius: 20px;
    padding: 5px 20px;
}

.sec2-translater-card h5 {
    color: #464555;
}

.sec2-translater-card p {
    font-weight: 600;
}

.sec2-translater-card:last-child {
    border-left: 4px solid #006C494D
}

.sec2-translater-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sec2-AI-head {
    display: flex;
    justify-content: space-between;
}

.AI-tahlil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec2-AI {
    padding: 20px 30px;
    background-color: #F4F3FB;
    margin-top: 20px;
    border-radius: 20px;
}

.AI-purple {
    background: #3525CD1A;
    color: #3525CD;
    border-radius: 8px;
}

.AI-purple h6 {
    margin: 0;
    padding: 5px 15px;
}

.sec2-AI-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2-AI-main p {
    text-align: center;
}

.sec2-AI-foot button:first-child {
    border: 2px solid #E8E7EF;
    padding: 15px 35px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sec2-AI-foot button:last-child {
    background-color: #3525CD;
    padding: 15px 35px;
    border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sec2-AI-foot {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.sec2-tushutirish {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 30px;
    width: 400px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    border: 1px solid #EEEDF5
}

.sec2-tushutirish-head {
    display: flex;
    gap: 10px;
}

.sec2-tushutirish-main p {
    margin-bottom: 30px;
}

.sec2-tushutirish-maslahat {
    width: 80%;
    margin: 20px;
    padding: 5px 30px;
    border-radius: 20px;
    background: #3525CD0D;
    color: #3525CD;
    border: 1px solid #3525CD1A;
}

.russia {
    width: 350px;
    margin-top: 20px;
}

.sec2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qoida-qoshish {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.qoida-qoshish-card {
    display: flex;
    width: 350px;
    align-items: center;
    margin-top: 20px;
    background-color: #F4F3FB;
    padding: 10px 30px;
    border-radius: 50px;
    justify-content: space-between;
}

.qoida-qoshish i {
    color: rgb(7, 80, 7);
}