* {
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    margin: 0;
    background-color: #FAF8FFCC;
    display: flex;

}

.ul h2 {
    color: #4F46E5;
    margin: 0;
}

.ul p {
    color: #464555;
    margin-top: 5px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0px;
}

ul i {
    color: #64748B;
    font-size: 20px;
}

.header {
    display: flex;
    width: 275px;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    padding: 10px 50px;
}

ul li {
    display: flex;
    gap: 10px;
    color: #64748B;

}

.head {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 10px 20px;
}

.title h2 {
    margin: 0;
}

.title p span {
    color: #4F46E5;
    font-weight: 600;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #F1F5F980;
    height: 100vh;
    width: 256px;
    position: fixed;
    text-align: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.logo-con {
    color: #4F46E5;
    padding: 15px 0px;
    cursor: pointer;
}

.logo-con p {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

li a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 14px 10px;
    text-decoration: none;
    color: #64748B;
    font-weight: 600;
    font-size: 16px;
}

li:hover a {
    background-color: #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
}

i {
    margin-right: 10px;
}

.highlited a {
    color: #4F46E5;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.modal-con {
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    background-color: #d9d6d6;
}

.modal {
    width: 500px;
    height: 600px;
    gap: 10px;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0px 32px 64px -12px #4F46E526;
    background-color: #F4F3FB;
    box-shadow: 0px 4px 24px 0px #4F46E50A;
}
.X{
    color: #4F46E5;
    padding: 15px;
    font-size: 50px;
    transform: translate(950px,-380px) rotate(-45deg);
}
.modal .input-con {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.modal .input-con input {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
}
.modal .input-con select {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #4736de;
    width: 100%;
}
.modal h1 {
    color: #4736de;
    text-align: center;
}

.input-con-div h3 {
    margin: 10px 00px;
    color: #4736de;

}
#cancel {
    color: #4F46E5;
}
.modal .input-con button {
    padding: 15px 30px;
    justify-self: end;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #4F46E5 0%, #3525CD 100%);
    color: #fff;
    border: none;
    width: max-content;
}

.up {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal-btn{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}
.house {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.navbar {
    width: 100%;
}

.down {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
}

.others {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: stretch;
}

.setting,
.exit {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 14px 10px;
    cursor: pointer;
}

.setting:hover,
.exit:hover {
    background-color: #FFFFFF;
    border-radius: 12px;
}

hr {
    border: 1px solid #64748b4b;
    width: 100%;
    border-radius: 10px;
}

.setting a,
.exit a {
    color: #64748B;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
}

.gear,
.exit-icon {
    color: #64748B;
}

.title p {
    color: #464555;
}

.title h2 {
    color: #1A1B21;
}

.head-items img {
    width: 20px;
}

.head-img-box h4 {
    color: #1A1B21;
    font-weight: 500;
    margin: 0;
}

.head-img-box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #3525CD1A;
}

.head-items {
    display: flex;
    align-items: center;
    gap: 25px;
}

.sec2 {
    padding: 20px;
}

main {
    position: absolute;
    left: 300px;
}

.head-items .human {
    width: 45px;
    border-radius: 50px;
}

.sec2-head-title p:first-child {
    background-color: #6CF8BB;
    width: max-content;
    padding: 3px 10px;
    border-radius: 20px;
    color: #00714D;
}

.sec2-head-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sec2-head-title p:last-child {
    color: #464555;
}

.sec2-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sec2-head button {
    padding: 10px 35px;
    border-radius: 15px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    background-color: #3525CD;
    color: #fff;
}

.sec2-head button span {
    font-size: 25px;
}

.sec2-input {
    width: max-content;
    background-color: #fff;
    padding: 10px 20px;
    color: #777587;
    border-radius: 10px;
}

.sec2-input input {
    border: none;
    outline: none;
    padding: 5px 40px 5px 10px;
}

.sec2-search {
    margin-top: 20px;
    background-color: #F4F3FB;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.sec2-search select {
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
}

.sec2-btns button {
    background-color: #E2E2E9;
    border-radius: 50px;
    border: none;
    padding: 15px 40px;
    font-size: 15px;
    color: #464555;
    transition: 0.2s;
}

.sec2-btns button:hover {
    background-color: #3525CD;
    color: #fff;
    transition: 0.2s;
}

.sec2-card-con {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
}

.sec2-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec2-card {
    background-color: #fff;
    padding: 10px 30px;
    box-shadow: 0px 4px 24px 0px #4F46E50A;
    border-radius: 20px;
}

.sec2-card-title p {
    color: #3525CD99;
    font-weight: 600;
}

.sec2-card-main p {
    color: #464555B2;
}

.sec2-card-main h1 {
    font-family: 'Liberation Serif';
}

.sec2-card-main h2 {
    color: #3525CD;
    background-color: #EEEDF5;
    padding: 15px;
    border-radius: 15px;
}

.sec2-card hr {
    color: #EEEDF5;
}

.sec2-card-foot {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}