* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: #FAF8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
}

.kirish {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    max-width: 450px;
    padding: 50px 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 24px 0px rgba(79, 70, 229, 0.08);
}

.bosh {
    text-align: center;
}

.texts h3 {
    margin: 0;
}

.texts p {
    margin-top: 8px;
    color: #464555;
}

.texts {
    padding-top: 30px;
}

.input-con {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input1 {
    background-color: #FAF8FF;
    width: 100%;
    padding: 20px 15px;
    display: flex;
    border-radius: 15px;
    align-items: center;
}

.input1 i {
    color: #777587;
}

.input1 input {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    padding: 0px 15px;
}

.input-con>div>p {
    color: #464555;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input2-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.input2-item p {
    margin: 0;
    color: #464555;
    font-size: 13px;
    font-weight: 600;
}

.input2-item p.forgot-pass {
    color: #3525CD;
    cursor: pointer;
}

.kirish-btn {
    box-shadow: 0px 10px 15px -3px rgba(53, 37, 205, 0.1);
    background: linear-gradient(90deg, #4F46E5 0%, #3525CD 100%);
    padding: 20px 30px;
    border-radius: 15px;
    margin-top: 10px;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.kirish-btn:hover {
    opacity: 0.9;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
}

.foot p {
    margin: 0;
    font-size: 14px;
}

.foot p.sign {
    color: #3525CD;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 576px) {
    .kirish {
        padding: 30px 20px;
        gap: 10px;
    }

    .bosh h2 {
        font-size: 25px;
    }

    .bosh p {
        font-size: 15px;
    }

    .texts h3 {
        font-size: 18px;
    }

    .foot {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 350px) {
    body {
        padding: 0 10px;
    }

    .kirish {
        padding: 20px 15px;
        border-radius: 20px;
    }

    .bosh img {
        width: 40px;
    }

    .bosh h2 {
        font-size: 20px;
    }

    .bosh p {
        font-size: 13px;
    }

    .input1 {
        padding: 15px 10px;
    }

    .input1 input {
        font-size: 14px;
        padding: 0 10px;
    }

    .kirish-btn {
        padding: 15px 20px;
        font-size: 14px;
    }

    .input2-item p {
        font-size: 11px;
    }

    .foot {
        font-size: 12px;
    }
}